p.center2d {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 font-size: 6.0vh;
}

p.scale_large_left {
 text-align: left;
 font-size: 8.0vh;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 margin-left: 5%;
 margin-right: 5%;
 color: white;
}

.prose_text {
 text-align: left;
 font-size: 2.5vh;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 margin-top: 8vh;
 margin-left: 7ch;
 margin-right: 7ch;
 padding-top: 1%;
 padding-left: 2%;
 padding-right: 2%;
 padding-bottom: 1%;
 color: cornsilk;
 line-height: 1.4;
 background-color: rgba(0,0,0,0.6);
 border-radius: 25px;
}

.corner_horizontal {
 text-align: left;
 font-size: 4vmin;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 margin-left: 4ch;
 margin-top: 1ch;
 position: absolute;
 color: cornsilk;
}

.corner_vertical {
 text-align: right;
 width: 100%;
 transform: rotate(270deg);
 transform-origin: right top 0;
 position: absolute;
 top: 1.5ch;
 left: -100%;
 font-size: 4vmin;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 color: cornsilk;
 margin-left: 1ch;
 margin-top: 1ch;
}

.bottom-right-bottom {
 text-align: right;
 bottom: 0%;
 font-size: 3vh;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 color: silver;
 margin-bottom: 2%;
 position: absolute;
 width: 98%;
}

p.scale_large_right {
 text-align: right;
 font-size: 7.0vh;
 font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
 margin-left: 5%;
 margin-right: 5%;
 color: white;
}

#vertical_center {
 position: absolute;
 top: 50%;
 width: 100%;
 transform: translateY(-50%);
}

#about_page {
 position:absolute;
 top: 0%;
 width: 100%;
}

.bkg-turntable {
    /*background: none repeat scroll 0 0 transparent; */
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 2.0vh;
    color: white;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 3%;
    width: 100%;
}

/*#bkgimage {
 position:absolute;
 z-index:0;
 left:0;
 top:0;
 width:100%;
 height:100%;
} */

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: LightCyan;
}

a:active {
    color: Cyan;
}

.prose_text a:link {
    color: Khaki;
}

.prose_text a:hover {
    color: LightCyan;
}

.prose_text a:active {
    color: Cyan;
}

.prose_text a:visited {
    color: PeachPuff;
}

body, html {
    height: 100%;

    margin: 0;
    border: 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    /* The image used */
    /*background-image: url("bgimages/2.jpg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* background-size: cover; */
    position: relative;
    background-attachment: fixed;
}

.overlay_index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overlay_about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

p.about_nav {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    text-align: center;
    width: 98%;
    font-size: 2.0vh;
    color: white;
}


